/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for specific sections */

section h2 {
    color: #333;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}

section p {
    margin-bottom: 10px;
}

#github,
#linkedin {
    margin-top: 20px;
}

#github h2,
#linkedin h2 {
    color: #333;
    margin-bottom: 10px;
}

#github p,
#linkedin p {
    margin: 0;
}

#github a,
#linkedin a {
    color: #007bff;
    text-decoration: none;
}

#github a:hover,
#linkedin a:hover {
    text-decoration: underline;
}
